*{
    margin: 0;
    padding: 0;
}
body{
    header{
        display: flex;
        justify-content: center;
        .container{
            display: flex;
            flex-direction: column;
            width: 70%;
            .box1,.box3{
                img{
                    width: 100%;
                    height: 400px;
                }
            }
            .box2{
                background-color:rgb(170, 147, 119);
                display: flex;
                flex-direction: row;
                padding: 70px;
                .text1{
                 p{
                     font-size: 70px;
                 }
                }
                .text1,.text2{
                    width: 50%;
                }
            }
            }

        }
         
}